<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>
    <title>sign up</title>
</head>
<body>
    <h1>sign up</h1>
    <form method="post" action="/user">
        <label>name</label>
        <input type="text" required name="name"/>
        <label>email</label>
        <input type="text" required name="email"/>
        <label>password</label>
        <input id="pass" type="password" required name="password"/>

        <button type="submit">sign up</button>
    </form>
</body>
</html>